[submodule "chomp"]
	path = third_party/chomp
	url = https://github.com/eric-heiden/chomp-multigrid.git
[submodule "steering_functions"]
	path = third_party/steering_functions
	url = https://github.com/eric-heiden/steering_functions.git
[submodule "params"]
	path = third_party/params
	url = https://github.com/eric-heiden/params.git
[submodule "collision2d"]
	path = third_party/collision2d
	url = https://github.com/eric-heiden/collision2d.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
