[submodule "chomp"]
	path = chomp
	url = https://github.com/eric-heiden/chomp-multigrid.git
[submodule "ompl"]
	path = ompl
	url = https://github.com/ompl/ompl.git
	branch = 1.4.2
[submodule "steering_functions"]
	path = steering_functions
	url = https://github.com/eric-heiden/steering_functions.git
[submodule "params"]
	path = params
	url = https://github.com/eric-heiden/params.git
[submodule "collision2d"]
	path = collision2d
	url = https://github.com/eric-heiden/collision2d.git
