# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake (generated) files
*.cmake
CMakeCache.txt
*automoc.cpp
GripsConfig.h
Makefile
moc_*
CMakeFiles*
cmake-*

# stats / binary files
bin/*
!bin/polygon_mazes
!bin/moving_ai_scenarios
!bin/sbpl_mprim

plotting/*.png
plotting/*.pdf

# Ignore Mac DS_Store files
.DS_Store

# Visual Studio Code
.vscode

# Build folder
build

# Jupyter checkpoints
.ipynb_checkpoints

# Compile commands (since they are user specific)
compile_commands.json
