@charset "UTF-8";

#select_box {
	/*height: 30%;*/
	padding: 20px;
	margin: 0 auto;
	background-color: rgba(234, 235, 237, 0.6);
	
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgba(111, 112, 114, 0.6);
}

#submit_button {
	margin: 0 auto;
	min-width: 160px;
}

.table thead th {
	border-bottom-width: 1px;
	border-bottom-color: black;
}

#data_table_area {
	/*width: 60%;*/
	height: 50%;
	margin-left: 20px;
	margin-top: 30px;
	overflow-x: scroll;

	display: none;
}

#home_message {
	/*margin-left: 25%;*/
	text-align: left;
	margin-top: 100px;
	height: 10%;

	color:  #3c4247;
}

#plots_area {
	margin-left: 2%;
	margin-top: 2%;
}


footer.fixed-bottom {
	height: 40px;
	background-color: #343a40;
	color: white;
}

.text-muted {
	color: rgba(255, 255, 255, 0.8) !important;
	padding-left: 400px;
}

#text_box {
	padding-top: 10px;
}

